<% include ../includes/head %>

</head>

<body class="bg-darkblue-color">
    <% include ../includes/windowButtons , {backgroundColor: backgroundColor} %>

    <% if(isAdmin) { %>
        <% include ../includes/sidenavAdmin %>
    <% } else { %>
        <% include ../includes/sidenav %>
    <% } %>

    <div class="main">
        <div class="pt-5">
            <form action="/vehicles/delete" method="POST" class="card bg-white mt-5 w-75 mx-auto">

                <input type="hidden" name="vehiclesId" value="<%=vehiclesInfo.id%>">

                <h5 class="w-100 mt-4 mb-5 font-weight-bold text-center"> Voulez-vous vraiment supprimer cette ligne
                </h5>

                <div class="pl-5">
                    <ul>
                        <li>Marque : <%= vehiclesInfo.mark %></li>
                        <li>Modele : <%= vehiclesInfo.model %></li>
                        <li>Puissance : <%= vehiclesInfo.horsepower.label %></li>
                        <li>Année : <%= vehiclesInfo.year %></li>
                        <li>Immatriculation : <%= vehiclesInfo.registrationNumber %></li>
                    </ul>
                </div>

                <div class="card-footer p-0 d-flex">
                    <a draggable="false" href="/vehicles" class="btn btn-form-color w-50 leftBorder py-2">Annuler</a>
                    <div class="btnDivider"></div>
                    <button type="submit" class="btn btn-form-color w-50 rightBorder py-2">Supprimer</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>