<% include ../includes/head %>

</head>

<body class="bg-darkblue-color">
    <% include ../includes/windowButtons , {backgroundColor: backgroundColor} %>

    <% include ../includes/sidenav %>

    <div class="main">
        <div class="pt-5">
            <form action="/kilometersheets/delete" method="POST" class="card bg-white mt-5 w-75 mx-auto">

                <input type="hidden" name="kilometersheetId" value="<%=kilometerSheetInfo.id%>">

                <h5 class="w-100 mt-4 mb-5 font-weight-bold text-center"> Voulez-vous vraiment supprimer cette fiche ?
                </h5>

                <div class="pl-5">
                    <ul>
                        <li>Fiche n° : <%= kilometerSheetInfo.id %></li>
                        <li>Entité : <%= kilometerSheetInfo.entity.name %></li>
                        <li>Véhicule : <%= kilometerSheetInfo.vehicle.mark %> | <%= kilometerSheetInfo.vehicle.model %> | <%= kilometerSheetInfo.vehicle.registrationNumber %></li>
                    </ul>
                </div>

                <div class="card-footer p-0 d-flex">
                    <a href="/kilometersheets" class="btn btn-form-color w-50 leftBorder py-2">Annuler</a>
                    <div class="btnDivider"></div>
                    <button type="submit" class="btn btn-form-color w-50 rightBorder py-2">Supprimer</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>