<% include ../includes/head %>

</head>

<body class="bg-darkblue-color h-100">
    <% include ../includes/windowButtons , {backgroundColor: backgroundColor} %>

    <% include ../includes/sidenav %>

    <div class="main pt-5">

        <div class="w-100 d-flex justify-content-end mb-2">
            <button id="newRow" class="btn btn-success" data-id="<%=kilometerSheetInfo.id%>"> Nouvelle ligne </button>
            <button disabled="true" id="confirmAllRow" class="btn btn-primary ml-4"> Valider toutes les lignes </button>
        </div>
        
        <input type="hidden" id="case1" value="<%= horsepowersInfo.horsepower.case1 %>">
        <input type="hidden" id="case2" value="<%= horsepowersInfo.horsepower.case2 %>">
        <input type="hidden" id="case3" value="<%= horsepowersInfo.horsepower.case3 %>">

        <div class="bg-white px-1 mb-2">
            <table class="table table-hover">
                <tr>
                    <th style="font-size: 15px !important">Entreprise</th>
                    <th class="text-center" style="font-size: 15px !important">Nom </th>
                    <th class="text-center" style="font-size: 15px !important">Type de véhicule</th>
                    <th class="text-center" style="font-size: 15px !important">Année </th>
                    <th class="text-center" style="font-size: 15px !important">Total KM parcourus </th>
                    <th class="text-center" style="font-size: 15px !important">Montant Indemnité (€)</th>
                    <th class="text-center" style="font-size: 15px !important">Action </th>
                </tr>
                <tr>
                    <td style="font-size: 14px !important"><%= kilometerSheetInfo.entity.name %></td>
                    <td class="text-center" style="font-size: 14px !important"><%= kilometerSheetInfo.person.surname %> <%= kilometerSheetInfo.person.name %></td>
                    <td class="text-center" style="font-size: 14px !important"><%= horsepowersInfo.horsepower.label %></td>
                    <td class="text-center" style="font-size: 14px !important"><%= kilometerSheetInfo.vehicle.year %> </td>
                    <td class="text-center" style="font-size: 14px !important"> 
                        <input disabled type="number" value="<%=kilometerSheetInfo.totalKilometer%>" id="totalKm">
                    </td>
                    <td class="text-center" style="font-size: 14px !important">
                        <input disabled type="number" value="<%=kilometerSheetInfo.compensation%>" id="compensation">
                    </td>
                    <td class="text-center" style="font-size: 14px !important"> 
                        <a href="/kilometersheets/export/<%= kilometerSheetInfo.id %>" class="btn btnExport bg-transparent border-0 mx-0 px-0">
                            <span class="iconify iconify__red mx-1" data-inline="false" data-icon="foundation:page-export-pdf" style="font-size: 25px !important"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="bg-white px-1">
            <table id="kilometersTable" class="table table-hover">
                <thead>
                    <tr>
                        <th style="font-size: 15px !important">Date</th>
                        <th class="text-center" style="font-size: 15px !important">Trajet <br> (De où à où) </th>
                        <th class="text-center" style="font-size: 15px !important">Commentaire</th>
                        <th class="text-center" style="font-size: 15px !important" colspan="3">Relevé de compteur <br> (Départ, Arriver, Distance) </th>
                        <th id="rowAction" class="text-center d-none" style="font-size: 15px !important"> Actions</th>
                    </tr>
                </thead>
                <tbody id="kilometerRowContent">
                    <% kilometerSheetRowsInfo.forEach(info => { %>
                        <tr class="editRow" data-rowId="<%=info.id%>">
                            <td>
                                <input disabled type="date" value="<%=info.date%>" class="dateRow form-control">
                            </td>
                            
                            <td>
                                <input disabled type="text" value="<%=info.travel%>" class="travelRow form-control">
                            </td>
                            
                            <td>
                                <select disabled class="reasonRow form-control">
                                    <% movereasonList.forEach(element => { %>
                                        <% if (element.id == info.moveReasonId) { %>
                                        <option selected value="<%=element.id%>"> <%= element.label %> </option>
                                        <% } else { %>
                                        <option value="<%=element.id%>"> <%= element.label %> </option>
                                        <% } %>
                                    <% }) %>
                                </select>
                            </td>
                            
                            <td>
                                <input disabled type="number" min="0"  step="0.01" value="<%=info.speedometerStart%>" class="speedometerStart form-control">
                            </td>
                            
                            <td>
                                <input disabled type="number" min="0"  step="0.01" value="<%=info.speedometerEnd%>" class="speedometerEnd form-control">
                            </td>
                            
                            <td>
                                <input disabled type="number" min="0"  step="0.01" value="<%=info.distance%>" class="displayDistance form-control">                            
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/js/kilometerScript.js"></script>
</body>

</html>